{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr>

<div id="emails-view">
</div>

<div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form">
        <div class="form-group">
            From: <input disabled class="form-control" value="{{ request.user.email }}">
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control">
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject">
        </div>
        <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

<div id="read-view" class="container">
    <div class="col">
        <div class="row my-1">
            <div class="col-md-3 col-sm-6"><b>From:</b></div>
            <div id="view-from" class="col-md-9 col-sm-6"></div>
        </div>
        <div class="row my-1">
            <div class="col-md-3 col-sm-6"><b>To:</b></div>
            <div id="view-to" class="col-md-9 col-sm-6"></div>
        </div>
        <div class="row my-1">
            <div class="col-md-3 col-sm-6"><b>Subject:</b></div>
            <div id="view-subject" class="col-md-9 col-sm-6"></div>
        </div>
        <div class="row my-1">
            <div class="col-md-3 col-sm-6"><b>Timestamp:</b></div>
            <div id="view-timestamp" class="col-md-9 col-sm-6"></div>
        </div>
        <button class="btn btn-sm btn-outline-primary" id="email-reply">Reply</button>
        <hr>
        <div class="row my-1">
            <div class="col">
                <p id="view-body"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}